.ing_pedidos, .ver_pedidos, .rut_clientes, .list_clientes, .metas, .sincro{
    width: 100px;
    height: 100px;
    align-content: center;
    --background: #23a823;
    --border-radius: 50%;
}

ion-col{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
ion-icon{
    width: 100px;
    height: 100px;
}
.menu{
    height: 25px;
    width: 25px;
}
