.main-panel {
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;
  border-top: 2px solid #3b7436;
  background: linear-gradient(#EAF6E9, #EAF6E9);  /* Se le da un gradiente al fonde del login */
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel[data="blue"] {
  border-top: 2px solid #1d8cf8;
}

.main-panel>.content {
  padding: 78px 30px 30px 280px;
  min-height: calc(100vh - 70px);
}


@media screen and (max-width: 991px) {

  .main-panel .content {
    padding-left: 30px;
  }

}


@media screen and (max-width: 768px) {
  .main-panel .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}